.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    margin-top: 1rem;
    font-family: "Fira Code", sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero_text {
  margin: 0;
  color: white;
  font-family: "Righteous", serif;
  font-size: 12em;
  text-shadow: 0.03em 0.03em 0 #020200;
  z-index: 100;
  user-select: none;

  &:after {
    content: attr(data-shadow);
    position: absolute;
    top: 0.06em;
    left: 0.06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(
      45deg,
      transparent 45%,
      #8fd3f4 45%,
      #8fd3f4 55%,
      transparent 0
    );
    background-size: 0.05em 0.05em;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shad-anim 15s linear infinite;

    @keyframes shad-anim {
      0% {
        background-position: 0 0;
      }
      0% {
        background-position: 100% -100%;
      }
    }
  }
}
