.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading_div {
  width: 100%;
  text-align: left;

  h1 {
    font-family: "Roboto Slab", serif;
    font-size: 5em;
    margin-left: 60px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 2em 0.1em;
    background-position: 0 100%;
  }
}

.list {
  font-family: "Roboto Slab", serif;
  flex: 0 0;
  flex-basis: content;

  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0 50px;

  z-index: 10;
  margin: 0 auto 0 auto;
}

@media (min-width: 1200px) {
  .heading_div {
    width: 1200px;
  }
  .list {
    width: 1200px;
  }
}

.card {
  display: flex;
  flex: 0 0 50%;
  padding: 0 5px 10px 5px;
}

.card_content {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  cursor: pointer;

  transition: all 0.15s ease;
  &:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 1000px) {
  .card_content {
    flex-direction: column;
  }
  .project_image {
    min-height: 200px;
    max-height: 200px;
  }
}

@media (max-width: 600px) {
  .heading_div h1 {
    margin-left: 20px;
    font-size: 3rem;
  }
  .list {
    padding: 0px;
  }
  .card {
    flex: 1 0 100%;
  }
}

.card_column {
  flex-basis: 50%;
  padding: 0 8px;
  margin-top: 10px;
}

.project_blurb {
  margin: 5px 0 10px 0;
}

.project_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.hero {
  height: 20em;
}

.title {
  flex: 0 1 auto;
  color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  // margin: 0;
  // padding: 0;

  text-align: center;
  font-size: 4rem;

  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  text-decoration: underline;
}

.content {
  flex: 1 0 auto;
  width: 50rem;
  margin: auto;
  margin-top: 3rem;

  font-family: "Roboto Slab", serif;

  display: flex;
  flex-direction: column;
}

.link_row {
  display: flex;
  justify-content: space-between;
  a {
    color: #fff;
    padding: 0 5px;
    border-radius: 2px;

    background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size: 0% 0.1em;
    background-position: 0 60%;

    transition-duration: 0.1s;

    &:hover {
      background-size: 100% 0.1em;
      // color: #000;
    }
  }
}

.markdown {
  h1 {
    font-size: 3rem;
  }

  p {
    padding: 1.2em 0;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  blockquote {
    padding: 1em;
    background-color: #242424;
    border-radius: 3px;
  }

  pre {
    background-color: #333;
    padding: 10px;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 1em;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0 3px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;

    transition-duration: 0.1s;

    &:hover {
      background-size: 100% 90%;
      background-position: 0 100%;
      color: black;

      transition-duration: 0.1s;
    }
  }

  hr {
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    margin: 1em 1em;
  }
}
