.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Roboto Slab", serif;
    font-size: 5em;
    margin: 0;
    margin-bottom: 2rem;
    margin-left: 3rem;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 2em 0.1em;
    background-position: 0 100%;
  }
}

.list {
  font-family: "Roboto Slab", serif;
  flex: 1 0 25%;

  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  // white-space: nowrap;

  z-index: 10;
}

.card {
  flex: 0 0 50%;
  padding: 0 5px 10px 5px;
}

.card_content {
  display: flex;
  cursor: pointer;

  transition: all 0.15s ease;
  &:hover {
    transform: scale(1.02);
  }
}

.card_column {
  flex-basis: 50%;
  padding: 0 8px;
  margin-top: 10px;
}

.content {
  flex: 1 0 auto;
  width: 50rem;
  margin: auto;
  margin-top: 3rem;

  font-family: "Roboto Slab", serif;

  h1 {
    font-size: 3rem;

    // Top header (title)
    &:first-of-type {
      font-size: 5rem;
      color: rgb(2, 2, 0);
      display: inline-block;
      padding: 0 10px;

      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 90%;
      background-position: 0 100%;
    }
  }

  p {
    padding: 1.2em 0;
  }

  ul,
  ol {
    padding-left: 15px;
  }

  blockquote {
    padding: 1em;
    background-color: #242424;
    border-radius: 3px;
  }

  pre {
    background-color: #333;
    padding: 10px;
  }

  code {
    font-family: "Fira Code", monospace;
    font-size: 1em;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0 3px;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;

    transition-duration: 0.1s;

    &:hover {
      background-size: 100% 90%;
      background-position: 0 100%;
      color: black;

      transition-duration: 0.1s;
    }
  }

  hr {
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    margin: 1em 1em;
  }
}

.hero {
  height: 20em;
}
