// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Righteous&family=Roboto+Mono&family=Roboto+Slab:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;

  background-color: #17171c;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  font-family: "Roboto Mono", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  width: 0.7em;
  vertical-align: middle;
}
