---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-10">
		<Heading size="xl">Hello.</Heading>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.
			<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
	</main>
</Layout>
